@import "../utilities/variables";
.homePage {
  min-height: 100vh;
  background-image: url("https://i.imgur.com/gbMQdWX.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  div {
    .home_main {
      .card {
        padding: 5px;
        background: rgba(255, 255, 255, 0.527);
        h1 {
          color: $dark;
          font-weight: bold;
        }
      }
    }
    .home_login_card {
      padding: 30px 0px;
      margin: 5px 0px;
      min-height: 100vh;
    }
  }
}
