/* browser rest code */
@import "../utilities/variables";

html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background: $main-bgColor;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (max-width: 900px) {
  html::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: $link-Color;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  background-color: $main-bgColor;
  min-height: 100vh;
}

.react-spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    color: $primary;
    font-weight: bold;
  }
}

// ---------------------------
